
li {
  list-style: none;
}

img {
   width: 200px;
 }


 body {
   background-color: #e8c2c2;
   color: #1f493d;
 }


 .background-color {
   background-color: #334;
 }

 .text-color {
   color: #fefefe;
 }

 button {
   color: #111;
 }
